[submodule "freeink-sdk"]
	path = freeink-sdk
	url = https://github.com/bzatrok/freeink-sdk.git
	branch = feat/restore-visible-frame
[submodule "assets/tabler-icons"]
	path = assets/tabler-icons
	url = https://github.com/tabler/tabler-icons.git
